
/******************/
/* General Styles */
/******************/

body {
    background-color: #DFDFDF !important;
}

/**************/
/* App Styles */
/***************/

#main-content {
    margin-top: 20px;
}

#app-content {
    position: relative !important;
}

.app-loading-page {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    opacity: 0.7;
    background: #fff url(../images/loading.gif) 50% 50% no-repeat;
    z-index: 100;
}

.app-view-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.app-icon-information {
    color: #337ab7;
    font-size: 18px !important;
    margin-left: 10px;
}

.app-icon-information:hover {
    cursor: pointer;
}

.app-output-row {
    background-color: #E9E9E9;
    padding: 20px;
    margin-top: 20px;
}

.app-output-digit {
    position: relative;
    width: 20%;
    float: left;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.app-cell {
    height: 20px;
    float: left;
    background-color: #EEEEEE;
    text-align: center;
    position: relative;
}

.app-cell-content {
    display: block;
    margin: 0 auto;
    font-weight:bold
}

/**************/
/*   Panels   */
/**************/

.panel-app {
    border-color: #000 !important;
}

.panel-app > .panel-heading {
    color: #FFF;
    background-color: #000;
    border-color: #000;
}

.panel-title-app {
    font-size: 24px !important;
} 

