<div ng-class="{'container-fluid': appViewFluid, 'container': !appViewFluid}">
    <div class="row">

        <div class="app-loading-page" ng-show="appViewLoading"></div>

        <div class="panel panel-app">
            <div class="panel-heading">
                <span class="panel-title panel-title-app">{{appTitle}}</span>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 app-view-content">
                    <div ng-transclude></div>
                </div>
            </div>
        </div>

    </div>
</div>