<app-view app-title="lang.lcd.model" app-view-loading="loadingView">

    <!-- Textarea Input -->
    <div class="col-lg-6">
        <div class="form-group">
            <label class="control-label">{{lang.lcd.input}} <i class="app-icon-information fa fa-question-circle" data-toggle="popover"></i></label>
            <textarea class="form-control" ng-model="inputString" rows="4" cols="50"></textarea>
        </div>
    </div>

    <!-- Button Generate -->
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary" ng-click="generateOutputImage(inputString)" style="margin-top: 23px;">
            {{lang.lcd.generate}}
            <i class="fa fa-television white"></i>
        </button>
    </div>

    <!-- Output -->
    <div class="col-lg-12">
        <label ng-if="outputWordImages.length" class="control-label" ng-bind="lang.lcd.ouput"></label>
        <div class="col-lg-12 app-output-row" ng-repeat="word in outputWordImages">
            <div class="app-output-digit" ng-repeat="digit in word">
                <div ng-repeat="row in digit track by $index">
                    <div class="app-cell" ng-repeat="cell in row track by $index" style="width: {{(100/row.length)}}%">
                        <span class="app-cell-content" ng-bind="cell"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-view>
